<div style="margin: 30px">
  <%= form_for :post, url: user_posts_path(@user), html: { class: "form" } do |f| %>
    <div class="mb-3">
      <%= f.label :title, class: "form-label custom-label" %>
      <%= f.text_field :title, class: "form-control custom-input", style: "height: 40px; width: 300px;" %>
    </div>
    <div class="mb-3">
      <%= f.label :text, class: "form-label custom-label" %>
      <%= f.text_area :text, class: "form-control custom-input", style: "height: 120px; width: 300px;" %>
    </div>
    <%= f.submit "Create Post", class: "btn btn-primary mb-3" %>
  <% end %>
<div/>